<div class="container vInputContainer">


        <label class="row">Titel *
            <input type="text" class="vuplinput required" name="title" placeholder="Vollständiger Titel des generierten Videos">
        </label>

        <label class="row">Untertitel *
            <input type="text" class="vuplinput" name="subtitle" placeholder="Untergeordneter Titel mit zusätzlichen Informationen">
        </label>

        <label class="row">Kurzname *
            <input type="text" class="vuplinput required" name="shortname" placeholder="Kurztitel (keine Leerzeichen und Umlaute erlaubt!)"
                >
        </label>

        <label class="row">Beschreibung
            <textarea class="vuplinput" name="description" placeholder="Ausführliche Beschreibung des Videos"></textarea>
        </label>
        <label class="row">Genre
            <input type="text" class="vuplinput" name="genre" placeholder="Genre des Videos (Kultur, Sport, ...)">
        </label>

        <label class="row">Tags
            <input type="text" class="vuplinput split" name="tags" placeholder="Durch Semikolon (;) getrennte Schlagworte">
        </label>

        <label class="row">Autoren *
          <input type="text" class="vuplinput split required" name="authors" placeholder="Durch Semikolon (;) getrennte Namen der Autoren" >
        </label>

        <button id="creditfields" class="fieldbutton"> Abspann bearbeiten</button>
      <div class="creditfields hidden">
          <label class="row">Interview
            <input type="text" class="vuplinput split" name="interviews" placeholder="Durch Semikolon (;) getrennte Namen der Interviewten" >
          </label>
            <label class="row">Statement
              <input type="text" class="vuplinput split" name="statements" placeholder="Durch Semikolon (;) getrennte Namen der Statementgeber " >
            </label>
              <label class="row">Sprecher
                <input type="text" class="vuplinput split" name="speakers" placeholder="Durch Semikolon (;) getrennte Namen der Sprecher " >
              </label>
                  <label class="row">Schnitt
                    <input type="text" class="vuplinput split" name="cut" placeholder="Durch Semikolon (;) Copyright information" >
                  </label>
                <label class="row">Musik
                  <input type="text" class="vuplinput split" name="music" placeholder="Durch Semikolon (;) getrennte Liste der Musik" >
                </label>
                  <label class="row">Copyright
                    <input type="text" class="vuplinput split" name="copyright" placeholder="Durch Semikolon (;) Copyright information" >
                  </label>
      </div>

        <label class="row">Video auswählen *
          <div id="videoUploader">
            <input type="file" class="vuplinput video required" id="regiotv-generator-fileInput">
            <button id="regiotv-generator-uploadVideo" class="stop col-4">Hochladen</button>
          </div>
      </label>

    <div class="row">

        <div class="col" id="regiotv-generator-status"></div>
    </div>
    <div class="row">
    	<div class="progress progress-striped progress-success col" style="width: 32px">
            <div class="bar" style="width: 0%;"></div>
         </div>
    </div>
    <div class="row" id="previewArea">
      <label id="previewArea">Vorschau
          <img src="https://drop.ndtv.com/albums/AUTO/porsche-taycan-turbo/1200x900_1.jpg" id="previewImage"></img>
      </label>
      </div>
</div>
