<div class="container">
  <button id="regiotv-generator-toggleuploads" class="col-4">
    Textnachricht / Video
  </button>

  <div id="regiotv-generator-videomessage">
    <p class="text-center bold"> Textnachricht hochladen </p>

    <label class="row">Titel *
      <input type="text" class="vmsginput required" name="title" placeholder="Vollständiger Titel des generierten Videos" >
    </label>

      <label class="row">Untertitel
        <input type="text" class="vmsginput" name="subtitle" placeholder="Untergeordneter Titel mit zusätzlichen Informationen">
      </label>

      <label class="row">Kurzname *
        <input type="text" class="vmsginput required" name="shortname" placeholder="Kurztitel (keine Leerzeichen und Umlaute erlaubt!)" >
      </label>

        <label class="row">Version *
          <input type="text" class="vmsginput required" name="version" placeholder="Aktuelle Version der Textnachricht">
        </label>

        <label class="row">Beschreibung
          <textarea class="vmsginput" name="description" placeholder="Ausführliche Beschreibung des Videos"></textarea>
        </label>

        <label class="row">Textnachricht *
          <textarea class="vmsginput required" name="content" placeholder="Der Inhalt der Textnachricht"></textarea>
        </label>

        <label class="row">Urheber *
          <input type="text" class="vmsginput required" name="owner" placeholder="Urheber der Nachricht" >
        </label>

          <label class="row">Genre
            <input type="text" class="vmsginput" name="genre" placeholder="Genre des Videos (Kultur, Sport, ...)">
          </label>

          <label class="row">Schlagworte
            <input type="text" class="vmsginput split" name="tags" placeholder="Durch Semikolon (;) getrennte Schlagworte">
          </label>
          <button id="creditfields"> Abspann Informationen ausklappen</button>
          <div class="creditfields hidden ">
            <label class="row">Autoren
              <input type="text" class="vmsginput split" name="autors" placeholder="Durch Semikolon (;) getrennte Namen der Autoren" >
            </label>
              <label class="row">Interview
                <input type="text" class="vmsginput split" name="interviews" placeholder="Durch Semikolon (;) getrennte Namen der Interviewten" >
              </label>
                <label class="row">Statement
                  <input type="text" class="vmsginput split" name="statements" placeholder="Durch Semikolon (;) getrennte Namen der Statementgeber " >
                </label>
                  <label class="row">Sprecher
                    <input type="text" class="vmsginput split" name="speakers" placeholder="Durch Semikolon (;) getrennte Namen der Sprecher " >
                  </label>
                    <label class="row">Musik
                      <input type="text" class="vmsginput split" name="music" placeholder="Durch Semikolon (;) getrennte Liste der Musik" >
                    </label>
                      <label class="row">Copyright
                        <input type="text" class="vmsginput split" name="copyright" placeholder="Durch Semikolon (;) Copyright information" >
                      </label>
          </div>
          <div>
            <button class="fieldbutton" id="vmsgmedia">Videonachricht Medien ausklappen</button>
          </div>
          <div class="vmsgmedia hidden">
            <label class="row">Hintergrund</label>
            <input type="file" class="picture vmsginput" id="vmsgpicture">
            <label class="row">Audio</label>
            <input type="file" class="audio vmsginput" id="vmsgaudio">
            <label class="row">Video</label>
            <input type="file" class="video vmsginput" id="vmsgvideo">
          </div>
  </div>
  <div id="regiotv-generator-videoupload" class="hidden">
    <p class="text-center bold"> Video hochladen </p>

    <label class="row">Titel *
      <input type="text" class="vuplinput required" name="title" placeholder="Vollständiger Titel des generierten Videos">
    </label>

    <label class="row">Untertitel
      <input type="text" class="vuplinput" name="subtitle" placeholder="Untergeordneter Titel mit zusätzlichen Informationen">
    </label>

    <label class="row">Kurzname *
      <input type="text" class="vuplinput required" name="shortname" placeholder="Kurztitel (keine Leerzeichen und Umlaute erlaubt!)">
    </label>
    <label class="row">Version *
      <input type="text" class="vuplinput required" name="version" placeholder="Aktuelle Version der Textnachricht">
    </label>

    <label class="row">Beschreibung
      <textarea class="vuplinput" name="description" placeholder="Ausführliche Beschreibung des Videos"></textarea>
    </label>

    <label class="row">Urheber *
      <input type="text" class="vuplinput required" name="owner" placeholder="Urheber der Nachricht" >
    </label>

      <label class="row">Genre
        <input type="text" class="vuplinput" name="genre" placeholder="Genre des Videos (Kultur, Sport, ...)">
      </label>

      <label class="row">Schlagworte
        <input type="text" class="vuplinput split" name="tags" placeholder="Durch Semikolon (;) getrennte Schlagworte">
      </label>
      <button id="videocreditfields" class="fieldbutton"> Abspann Informationen ausklappen</button>
      <div class="videocreditfields hidden">
        <label class="row">Autoren
          <input type="text" class="vuplinput split" name="autors" placeholder="Durch Semikolon (;) getrennte Namen der Autoren" >
        </label>
          <label class="row">Interview
            <input type="text" class="vuplinput split" name="interviews" placeholder="Durch Semikolon (;) getrennte Namen der Interviewten" >
          </label>
            <label class="row">Statement
              <input type="text" class="vuplinput split" name="statements" placeholder="Durch Semikolon (;) getrennte Namen der Statementgeber " >
            </label>
              <label class="row">Sprecher
                <input type="text" class="vuplinput split" name="speakers" placeholder="Durch Semikolon (;) getrennte Namen der Sprecher " >
              </label>
                <label class="row">Musik
                  <input type="text" class="vuplinput split" name="music" placeholder="Durch Semikolon (;) getrennte Liste der Musik" >
                </label>
                  <label class="row">Copyright
                    <input type="text" class="vuplinput split" name="copyright" placeholder="Durch Semikolon (;) Copyright information" >
                  </label>
      </div>
      <label class="row">Video auswählen *
        <input type="file" class="vuplinput video required" id="regiotv-generator-videoInput">
      </label>
  </div>
</div>
<div class="row">
  <button id="regiotv-generator-uploadBtn" class="col-4">Hochladen</button>
  <span class="col-1"></span>
  <div id="regiotv-generator-status" class="col text-center" style="background-color:grey">
    Status
  </div>
</div>
