.hidden{
    display: none;
}
.bold {
    font-weight: bold;
}
.fieldbutton{
  margin:3px;
}

#videoUploader #regiotv-generator-uploadVideo {

  margin: 0;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 115px;
}

#videoUploader #regiotv-generator-fileInput {
  float: left;
    width: calc( 100% - 115px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

div#videoUploader {
  width: 100%;
}

div.templates {
  width: 100%;
}

div.templateContainer {
  height: 165px;
width: 250px;
background: grey;
border-radius: 10px;
cursor: pointer;
text-align: center;
}

div.templateContainer:hover {
  opacity: 0.9;
}

div.templateContainer p {
  font-size: 20px;
  background: black;
  color:white;
  margin: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.templateContainer img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


img#previewImage {

    max-width: 500px;
    margin: auto;
}

label#previewArea {
  display: none;
}

.vInputContainer input, select, textarea {
    transition: ease 0.4s;
}

.vInputContainer input:focus, select:focus, textarea:focus {

    padding-left: 7px;

}
