div#templateSelector {
      width: 58%;
      height: 175px;
      border: 1px solid;
      border-radius: 10px;
      border-color: #c5c5c5;
      background: #e8e8e8;
      padding: 10px;
      overflow-x: auto;
      overflow-y: hidden;
      max-height: 175px;
      transition: 1s;
      position: relative;
      float: left;
}

div#templateMenu {
  transition: 0.8s;
  overflow: hidden;
}

h3#templateTitleLabel {
  color: #356573;
}

div.lastMovedElement {
  border: 3px solid;
  border-color: #2d99ff;
}

div#currentPositionPointer {

    height: 80px;
    /* background: #ffffff00; */
    width: 100px;
    padding: 5px;
    z-index: 10000000;

}

div#currentPositionPointer input[type=text] {
  font-size: 15px;
    height: 30px;
    width: 50px;
    padding: 0;
    margin: 0;
    border: 1px solid;
}

textarea#codeOutput {
  display: none;
}

.hiddenFormular {
  display: none;
}

div#templateCreatorDiv {
    width: 25%;
    display: inline-block;
    margin-left: 10px;
    border: 1px solid;
    height: 175px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: #c5c5c5;
    background: #e8e8e8;
    float: left;
    transition: 0.8s;
}

div#templateCreatorButtonDiv button {
  height: inherit;
padding-left: 9px;
padding-right: 9px;

transition: 0.8s;
}

.inputRequiredField {
    border: 2px solid;
    border-color: #f39494;
    background: #ffd1d1;
}

button#changeTemplateNameButton {
    border-top-right-radius: 10px;
    background: #de973f;
}

button#changeTemplateNameButton:hover {
  color: #de973f;
  background: #e8e8e8;
}

button#deleteTemplateButton {
  background: #dd6262;
  margin-top: 1px;
  margin-bottom: 1px;
}

button#deleteTemplateButton:hover {
  color: #dd6262;
  background:#e8e8e8;
}

button#createNewTemplateButton {
    border-bottom-right-radius: 10px;
    background: #474747;
}

button#createNewTemplateButton:hover {
    background:#e8e8e8;
    color: #474747;
}

div#templateCreatorButtonDiv button:disabled {
  background: #aeaeae;
  color: #676767;
}


div#templateCreatorButtonDiv {
    display: flex;
    flex-direction: column;
    width: 12%;
    height: 175px;
    /* padding: 0; */
    /* float: left; */
    position: relative;
}


button.deleteTemplateButton {
  position: absolute;
    top: 25px;
    right: 0px;
    width: 20px;
    height: 20px;
}

button#addTextFieldBtnAdd {
    margin: 0 !important;
    height: 57px;
}

input#addTextFieldName {
    float: left;
    width: 146px;
}

div#beautfier {
  background: #fcfcfc;
  position: absolute;
  height: 32px;
  border: 1px solid;
  border-radius: 5px;
  border-color: #ececec;
  z-index: 1000000000;
}



div#beautfier select {
  margin: 0;
    padding: 0;
    height: inherit;
}

div#addTextFieldContainer {
    margin-left: 8px;
}

div#templateSelector .templateContainer {
  height: 150px;
    width: 200px;
    max-width: 100%;
    /* background: black; */
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;
    position: relative;
}

div#templateSelector .templateContainer:hover {
  opacity: 0.8;
}

div#templateSelector .templateContainer img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 100%;

}

div.scrollableSelector {
  width: fit-content;
    display: flex;
}

div#templateSelector .templateContainer p {
  color: white;
  position: absolute;
  top: 0;
  text-align: center;
  width: inherit;
  width: -webkit-fill-available;
  background: #808080e0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.minimizeCreatorDiv {
  width: 0% !important;
  padding: 0 !important;
  opacity: 0;
  margin-left: 0 !important;
  margin: 0 !important;
}

div.selectedTemplate {
  border: 3px solid;
  border-color: #3199f0;
}

div#editorDragDropContainer {
  position: relative;
      width: 640px;
      height: 360px;
      background-image: url(pic1.jpg);
      background-size: 640px 360px;
      float: left;
      border: 1px solid;
      border-color: black;
      background: white;
}

div#editorButtonsContainer {
    width: calc( 100% - 640px);
    display: inline-block;
}

div#editorContainer {
  max-height: 0;
  position: relative;
    height: 460px;
    overflow: hidden;
    transition: 0.8s;
}

.editorContainerVisible {
  max-height: 500px !important;
}

.templateSelectorHidden {
  max-height: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}





div#editorButtonsContainer button {
    display: block;
    margin: 8px;
}

.resizable {
  background: transparent;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
}

.resizable .resizers{
  width: 100%;
      height: initial;
      border: 3px solid #4286f4;
      box-sizing: border-box;
}

/*div#editorDragDropContainer input[type="text"] {
border: 0px solid;
background:transparent;
width: inherit;
height: inherit;
color:white;
height: auto;
font-size: 50px;
padding: 0;
margin: 0;
}*/


/* CSS For drag and drop containers*/

.removeButton {
    background: #bd2525;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    text-align: center;


}

.tagName {
  position: absolute;
  left: 0;
  top: 0;
  background: #0c0c0cc7;
  font-size: 15px;
  padding: 5px;
}

.removeButton p {
    font-size: 10px;
}


.popup {
    z-index: 9;
    font-size: 15px;
    /* background-color: #f1f1f1; */
    border: 1px solid #d3d3d3;
    /* text-align: center; */
    /* min-height: 150px; */
    /* min-width: 300px; */
    /* max-height: 300px; */
    /* max-width: 600px; */
}

.popup {
  position: absolute;
  /*resize: both; !*enable this to css resize*! */
  overflow: hidden;

}

/*Drgable */
.popup #titleField {
  overflow: hidden;

}

.noincrease {
  z-index: 100 !important;
}


.popup-header {
    padding: 5px;
    cursor: move;
    z-index: 10;
    /* background-color: transparent; */
    color: #fff;
}

/*Resizeable*/

.popup .resizer-right {
  width: 5px;
  height: 100%;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: e-resize;
}

.popup .resizer-bottom {
  width: 100%;
  height: 5px;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: n-resize;
}

.popup .resizer-both {
  width: 5px;
  height: 5px;
  background: transparent;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}

/*NOSELECT*/

.popup * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*Special for Title*/

div#titleBox#titleBox {
    font-size: 50px;
}

#editorDragDropContainer #blackBox {
  background: black;
  height: inherit;
  opacity: 0.6;

}
