
/* Clear floats after the columns */
#regiotv-editor-saveButton {
    float: right;
    margin-right: 100px;
}

.packageOuter {
    border: 1px solid #000;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.editorlist {
    overflow-y:auto;
    overflow-x:hidden;
    height:600px;
}

