<div id="regiotv-program-editor-main">
    <p>1. Wählen Sie ein existierendes Paket oder erstellen Sie ein neues. Daraufhin werden in der Mitte die im Paket
    enthaltenen Programs angezeigt. 2. Ziehen Sie ein Program von der rechten Liste in die Mitte, um es dem aktuellen
    Paket hinzuzufügen. Ziehen Sie ein Program wieder nach rechts, um es aus dem Paket zu entfernen. 3. Klicken Sie
    auf den unteren Knopf, um die Änderungen zu speichern.</p>
    <div class="container">
        <div class="row">
            <div class="col-8">
            </div>
            <div class="col-4">
                <span class="input-group-text" id="basic-addon1">Pakete suchen</span>
                <input class="form-control" id="packagefilter" aria-label="Username" aria-describedby="basic-addon1" placeholder="Suche" type="text">
            </div>
        </div>
        <div class="row"> 
            <div class="col-4">
                <h1 class="header p-0 m-0">Programme<button id="addProgram" class="d-inline p-0">+</button>
                    <button id="removeProgram" class="d-inline p-0">-</button>
                </h1>
            </div>
            <div class="col-4">
                <h1 class="header">Inhalt des Programmes</h1>
            </div>
            <div class="col-4">
                <h1 class="header">Pakete</h1>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-4 px-1 m-0">
                <div id="regiotv-programs" class="list-group p-0 m-0 selectable editorlist">
                </div>
            </div>
            <div class="col-4 px-1 m-0">
                <div id="regiotv-program-content" class="list-group p-0 m-0 editorlist sortable connectedSortable">
                </div>
            </div>
            <div class="col-4 px-1 m-0">
                <div id="regiotv-packages" class="list-group editorlist sortable connectedSortable">
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-4">
                <button id="saveProgram" style="height: 50px" class="btn-primary align-self-left">Speichern</button>
            </div>
            <div class="col-8">
                <div id="regiotv-editor-status" class="row justify-content-around hidden">
                    <p class="col-10"></p>
                    <button class="col-2 btn-primary" style="height: 50px">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
